#dropdown-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 2vh;
}

#dropdown-container {
  display: flex;
  justify-content: space-evenly;
  margin: 4vh;
  width: 100%;
}


#select-dropdown {
  width: 25%;
  background-color: var(--boulder);
  color: var(--pot-pourri);
  font-weight: 600;
  border-radius: 15px;
  text-align: center;
}


#select-dropdown:hover {
  cursor: pointer;
}

#select-dropdown:disabled {
  filter: brightness(0.7);
  cursor:no-drop;
}


#selectText {
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 25px;
}


@media (width < 100vh) {
  #select-dropdown {
    width: 100%;
  }

  #dropdown-container {
    flex-direction: column;
    gap: 1.5vh;
  }
}

@media only screen and (max-width: 200px) {
  #selectText {
    font-size: 9vw;
  }

}

@media only screen and (max-width: 382px) {
  #selectText {
    font-size: 9vw;
  }

  #dropdown-container {
    flex-direction: column;
    gap: 3vh;
    margin: 0;
  }
}