#bodyContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--pot-pourri);
    overflow: auto;
    background-color: #f4e8e3;
    opacity: 1;
    background-image: radial-gradient(#44a49c 0.5px, transparent 0.5px), radial-gradient(#44a49c 0.5px, #f4e8e3 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

#mainBox {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#game-button {
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    width: 5vh;
}

#gameHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media(max-width: 640px) {
    #mainBox {
        width: 95%;
    }
}

@media (min-width:640px) and (max-width:800px) {
    #mainBox {
        width: 90%;
    }
}

@media (min-width:800px) and (max-width:900px) {
    #mainBox {
        width: 85%;
    }
}

@media (min-width:900px) and (max-width:1000px) {
    #mainBox {
        width: 80%;
    }
}

@media (min-width:1000px) and (max-width:1100px) {
    #mainBox {
        width: 75%;
    }
}