#bodyContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--pot-pourri);
    overflow: auto;
}

#mainBox {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#game-button {
  font-size: 1.2rem;
  text-align: center;
	padding: 0;
	width: 5vh;
}

#gameHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 5px;
}

@media(max-width: 500px) {
    #mainBox{
        width: 95%;
    }
}

@media (min-width:500px) and (max-width:750px) {
    #mainBox{
        width: 90%;
    }
}

@media (min-width:750px) and (max-width:1000px) {
    #mainBox{
        width: 85%;
    }
}