/* CSS HEX */
:root{
  --cold-purple: #aca4dc;
  --keppel: #44a49c;
  --black: #040404;
  --carnation: #fc5c5c;
  --pot-pourri: #f4e8e3;
  --geraldine: #fc8c8c;
  --boulder: #7c7474;
  --opal: #acccc4;
  --bizarre: #ecdcd4;
  --ebb: #ece4e4;
}

html{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}