/* CSS HEX */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --cold-purple: #aca4dc;
  --keppel: #44a49c;
  --black: #040404;
  --carnation: #fc5c5c;
  --pot-pourri: #f4e8e3;
  --geraldine: #fc8c8c;
  --boulder: #7c7474;
  --boulder-disabled: #a09a9a; 
  --opal: #acccc4;
  --bizarre: #ecdcd4;
  --ebb: #ece4e4;
}

* {
  font-family:Montserrat Alternates, Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
html {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
}