.card {
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
  background-color: var(--boulder);
  object-fit: cover;
}

@media (min-width: 1050px) {
  .card {
    position: relative;
    width: 50;
    margin: auto;
  }
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
  background-color: white;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  background-color: var(--keppel);
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}