#hangameContainer {
  font-family: Montserrat Alternates, Raleway, sans-serif;
  text-align: center;
  background: #fc5c5c;
  color: #fff;
  padding: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

#centerContainer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
  align-items: center ;
}

.clearLine {
  align-items: center;
  stroke: #fc8c8c;
  opacity: 0.4;
}

.wrong-letters-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#pressAKey{
  display: flex;
  align-items: flex-end;
}

#pressAKeyContainer{
  display: flex;
  flex-direction: column;
}

.dots {
  width: 15%;
  aspect-ratio: 5;
  background: radial-gradient(circle closest-side,#fff 100%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: d1 2.5s steps(4) infinite;
}
@keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}


.word {
  display: flex;
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.space {
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

#keyboardButton {
  margin: 1%;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: none;
}

.notification-container.show {
  display: block;
}

#keyboard {
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  margin: 1%;
}

.keyboard__row {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.2em;
}

.keyboard__row--h1 {
  height: 1.7em;
  line-height: 1.4em;
}

.keyboard__row--h3 {
  height: 3.3em;
}

.keyboard__row > * {
  position: relative;
  background: #333;
  text-align: center;
  color: #eee;
  float: left;
  border-radius: 0.3em;
  margin: 0.2em;
  padding: 0.2em;
  width: 3.3em;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
  border: 1px solid #444;
  box-shadow: 0 0.2em 0 0.05em #222;
  border-bottom-color: #555;
}

.keyboard__row--h1 > div {
  width: 3.5em;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
  background: #2a2a2a;
  color: #aaa;
  position: relative;
  top: 0.2em;
  box-shadow: 0 0 0 0.05em black;
}

.key--w3 {
  width: 4.6em;
}

.key--w4 {
  width: 6em;
}

.key--w5 {
  width: 6.5em;
}

.key--w6 {
  width: 8.3em;
}

.key--space {
  width: 18em;
}

.key--double > * {
  padding-top: 0.1em;
}

.key--letter {
  line-height: 2.8em;
}

.key--bottom-left > * {
  position: absolute;
  text-align: left;
  bottom: 0.4em;
  left: 0.4em;
}

.key--bottom-right > * {
  position: absolute;
  text-align: right;
  bottom: 0.4em;
  right: 0.4em;
}

.key--fn > * {
  font-size: 0.6em;
  line-height: 1em;
  padding-top: 1.2em;
  padding-right: 0.2em;
  text-align: right;
  float: right;
}

.key--word > * {
  font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
  font-size: 0.5em;
  line-height: 3em;
}

.key--arrow {
  height: 1.8em;
  margin-top: 1.7em;
  line-height: 0.5em;
}

.key--arrow--tall > * {
  padding-top: 0.2em;
}

.keyboard > .keyboard__row {
  text-align: center;
}

@media (width > 100vh) {
  #keyboard {
    width: 50%;
  }
}