#header {
    background-color: var(--keppel);
    box-shadow: 0 2px 6px var(--boulder);
    width: 100%;
}

#myContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 5vw;
    gap: 1vw;
}

#logoApp {
    height: 8vw;
}

#title {
    font-size: 3vh;
}

@media only screen and (max-width: 500px) {
    #myContainer {
        display: flex;
        flex-direction: column;
    }

    #title {
        font-size: 5vw;
    }

    #logoApp {
        height: 20vw;
    }

}

#title:hover {
    font-size: 3.1vh;
    
}