#soupContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

#grid-container {
  display: grid;
  width: 90%;
}

.grid-item {
  background-color: var(--pot-pourri);
  border: 0.1px solid rgb(55, 54, 54);
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.grid-item-selected {
  background-color: var(--keppel);
  color: white;
}

.grid-item-wrong {
  background-color: rgb(237, 145, 6);
  color: white;
}

@media ( width < 100vh) {
  #soupContainer {
    width: 100%;
  }
}

.dot {
  background-color: red;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}