#footer{
    width: 100%;
    background-color: var(--keppel);
}

#footerContainer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logos{
    height: 4.5vw;
}

#footerLogosContainer {
    display: flex;
}

#authors{
    font-size : 1.5vh;
    font-weight: 500;
    color: white;
}


@media (width < 100vh) {
    .logos{
        height: 6vw;
    }

    #authors{
        font-size : 1.5vw;
    }
}

@media (height < 100vw) {
    .logos{
        height: 6vh;
    }

    #authors{
        font-size : 1.5vh;
    }
}

@media only screen and (max-width: 500px) {
    #footerContainer {
      flex-direction: column;
      justify-content: center;
    }

    .logos{
        height: 11.5vw;
    }
    
    #authors{
        font-size : 3vw;
    }

}

@media (max-height: 599px) {
    .logos{
        height: 5vw;
    }
    
    #authors{
        font-size : 1.2vw;
    }
}