#footer{
    width: 100%;
    background-color: var(--keppel);
}

#footerContainer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logos{
    height: 5vw;
}

#footerLogosContainer {
    display: flex;
}

#authors{
    font-size : 1.8vh;
    font-weight: 500;
    color: white;
}

@media only screen and (max-width: 500px) {
    #footerContainer {
      flex-direction: column;
      justify-content: center;
    }

    .logos{
        height: 15vw;
    }
    
    #authors{
        font-size : 4.5vw;
    }

}


