#games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  height: 80%;
  margin-bottom: 4%;
}

#game-name {
  font-weight: 600;
  color: var(--pot-pourri);
  margin-top: 1vh;
}

#game-logo {
  width: 90%;
}

#games-container {
  /* box-shadow: 0px 0px 8px var(--boulder); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 300px;
  width: 300px;
  border-radius: 0.5rem;
  background-color: var(--carnation);
  transition: all 0.2s ease-in-out;
}

#games-container-alternative {
  /* box-shadow: 0px 0px 8px var(--boulder); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 300px;
  width: 300px;
  border-radius: 0.5rem;
  background-color: lightseagreen;
  transition: all 0.2s ease-in-out;
}

#games-container-alternative:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#games-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}