#cards-grid-drop-images {
  width: 67.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1.25%;
  column-gap: 1.25%;
  padding-bottom: 2%;
}

@media (max-width: 800px) {
  #cards-grid-drop-images {
    width: 90%;
    row-gap: 2%;
    column-gap: 2%;
  }
}

#card {
  width: 100%;
}

#drop-images-text {
  font-size: 1.275em;
}