#cards-container {
  margin-top: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  align-self: center;
}

#cards-grid-drag-images {
  width: 67.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1.25%;
  column-gap: 1.25%;
}

@media (max-width: 800px) {
  #cards-grid-drag-images {
    width: 90%;
    row-gap: 2%;
    column-gap: 2%;
  }
}

#card {
  width: 100%;
  max-width: 300px;
}
