#dictionaryContainer {
  font-family: Montserrat Alternates, Raleway, sans-serif;
  text-align: center;
  background: lightseagreen;
  color: #fff;
  padding: 1.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

#card_glosary {
  width: 70%;
  max-width: 150px;
  background: #ffff;
  border-radius: 0.5rem;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

#glosaryButtonsContainer{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

#glosaryTable{
  width: 60%;
  margin-top: 2%;
}

#glosaryImage{
  width: 35%;
}

#glosaryWord{
  width: 35%;
}

#glosarySound{
  width: 30%;
}

#glosarySound{
  width: 30%;
}
